/*-- CLASES TIPO FLEX --*/
.flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* -- OVERFLOW -- */
.overflow-hidden {
  overflow: hidden;
}

/* -- ALIGN -- */
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: end;
}

/*-- GAP --*/
.gap-10px {
  gap: 10px;
}
.gap-20px {
  gap: 20px;
}
/* -- MARGIN -- */
.margin-top-less-50px {
  margin-top: -50px;
}

.margin-bottom-less-50px {
  margin-bottom: -50px;
}

.margin-0px-auto {
  margin: 0px auto;
}
.margin-bottom-0px {
  margin-bottom: 0px;
}
.margin-top-40px {
  margin-top: 40px;
}
.margin-top-0px {
  margin-top: 0px;
}
.margin-20px {
  margin: 20px;
}
.margin-right-40px {
  margin-right: 40px;
}
.margin-left-10px {
  margin-left: 10px;
}
.margin-5px-auto {
  margin-right: 5px;
}
/*-- COLORES -- */
.color-blue {
  color: #2f80ed;
}
.color-black-dark {
  color: #181818;
}
.color-black {
  color: #1b1f2d;
}
.color-gray-dark {
  color: #333333;
}
.color-white {
  color: #ffffff;
}
.color-black-light {
  color: #4f4f4f;
}
.background-color-blue-ligth {
  background-color: #34e6f2;
}
.background-color-blue {
  background-color: #2f80ed;
}
.background-color-blue-facebook {
  background-color: #475993;
}
.background-color-white {
  background-color: #ffffff;
}
.background-color-grey-light {
  background-color: #f2f2f2;
}
.background-color-yellow {
  background-color: #fee2654d;
}
.background-color-ligth-yellow {
  background-color: #fcefca;
}
/* --IMAGES-- */
.background-img-australia {
  background-image: url("/images/imagen-header-Australia.jpg");
}
.background-img-sydney {
  background-image: url("/images/Sydney_image.jpg");
}
.background-img-restaurant {
  background-image: url("/images/Restaurant_image.jpg");
}
.background-img-Mesmerizing {
  background-image: url("/images/Mesmerizing_image.jpg");
}
.background-aerial-view {
  background-image: url("/images/img_startHere/aerial_view_kelingkng_beach.jpg");
}
.background-isoated-right-hand-with-smartphone {
  background-image: url("/images/img_startHere/isolated_right_hand_with_smartphone.png");
}

.background-size-cover {
  background-size: cover;
}
.background-position-center {
  background-position: center;
}
/* -- CLASES TIPO PADDING -- */

.padding-left-80px {
  padding-left: 80px;
}
.padding-left-40px {
  padding-left: 40px;
}
.padding-rigth-200px {
  padding-right: 200px;
}
.padding-right-80px {
  padding-right: 80px;
}
.padding-right-50px {
  padding-right: 50px;
}
.padding-right-40px {
  padding-right: 40px;
}
.padding-right-20px {
  padding-right: 20px;
}
.padding-left-20px {
  padding-left: 20px;
}
.padding-10px-20px {
  padding: 10px 20px;
}
.padding-10px-30px {
  padding: 10px 30px;
}
.padding-20px-30px {
  padding: 20px 30px;
}
.padding-22px-50px {
  padding: 22px 50px;
}
.padding-20px {
  padding: 20px;
}
.padding-left-0px {
  padding-left: 0px;
}
.padding-bottom-20px {
  padding-bottom: 20px;
}

/* -- POSITIONS -- */
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.overflow-hidden {
  overflow: hidden;
}
.rotate-10deg {
  transform: rotate(10deg) scaleX(-1);
}
.z-index-1 {
  z-index: 1;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.scale-x-1 {
  transform: scaleX(-1);
}
.scale-y-1 {
  transform: scaleY(-1);
}

/* -- WIDTH -- */
.max-width-1400px {
  max-width: 1400px;
}
.max-width-1000px {
  max-width: 1000px;
}
.max-width-580px {
  max-width: 580px;
}
.max-width-400px {
  max-width: 400px;
}
.max-width-300px {
  max-width: 300px;
}
.max-width-100px {
  max-width: 100px;
}
.width-100-percent {
  width: 100%;
}
.width-85-percent {
  width: 85%;
}
.width-820px {
  width: 820px;
}
.width-750px {
  width: 750px;
}
.width-520px {
  width: 520px;
}
.width-400px {
  width: 400px;
}
.width-295px {
  width: 295px;
}
.width-100px {
  width: 100px;
}
.width-35px {
  width: 35px;
}
.width-25px {
  width: 25px;
}

/* -- HEIGHT -- */
.height-610px {
  height: 610px;
}
.height-300px {
  height: 300px;
}
.height-280px {
  height: 280px;
}
.height-220px {
  height: 220px;
}
.height-35px {
  height: 35px;
}
.height-18px {
  height: 18px;
}
.height-14px {
  height: 16px;
}
.height-60vh {
  height: 60vh;
}

/* -- CLASES TIPO FONT FAMILY -- */
.font-size-32px {
  font-size: 32px;
}
.font-size-28px {
  font-size: 28px;
}
.font-size-25px {
  font-size: 25px;
}
.font-size-20px {
  font-size: 20px;
}
.font-size-18px {
  font-size: 18px;
}
.font-size-16px {
  font-size: 16px;
}
.font-size-15px {
  font-size: 15px;
}
.font-size-14px {
  font-size: 14px;
}
.font-family-sfProDisplay {
  font-family: "SF Pro Display", sans-serif;
}
/* --BOX SHADOWS-- */
.box-shadow-0px-4px-10px-rgba-0-0-0-0_1 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* -- TEXT STYLES --*/
.list-style-none {
  list-style: none;
}
.text-decoration-none {
  text-decoration: none;
}
.text-align-center {
  text-align: center;
}
.text-align-start {
  text-align: start;
}
.underline-none {
  text-decoration: none;
}
.font-weight-bold {
  font-weight: bold;
}
/* -- BORDERS -- */
.border-radius-4px {
  border-radius: 4px;
}
.border-radius-6px {
  border-radius: 6px;
}
.border-radius-8px {
  border-radius: 8px;
}
.border-radius-10px {
  border-radius: 10px;
}
.border-radius-15px {
  border-radius: 15px;
}
.border-1px-solid-lightGray {
  border: 1px solid lightgray;
}
.border-1px-solid-blue {
  border: 1px solid #2f80ed;
}
.border-none {
  border: none;
}
.box-sizing-border-box {
  box-sizing: border-box;
}
