
/*-- CLASES TIPO FLEX --*/
.flex{
    display: flex;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.flex-wrap{
    flex-wrap: wrap;
}

/* -- OVERFLOW -- */
.overflow-hidden{
    overflow: hidden;
}

/* -- ALIGN -- */
.align-items-center{
    align-items: center;
}

/*-- GAP --*/
.gap-10px{
    gap: 10px;
}
.gap-20px{
    gap: 20px;
}
/* -- MARGIN -- */
.margin-0px-auto{
    margin: 0px auto;
}
.margin-bottom-0px{
    margin-bottom: 0px;
}
.margin-top-0px{
    margin-top: 0px;
}
.margin-20px{
    margin: 20px;
}
/*-- COLORES -- */
.color-blue{
    color: #2F80ED;
}
.color-black{
    color: #1B1F2D;
}
.color-white{
    color: #FFFFFF;
}
.color-black-light{
    color: #4F4F4F;
}
.background-color-blue-ligth{
    background-color: #34e6f2;
}
.background-color-blue{
    background-color: #2F80ED;
}
.background-color-blue-facebook{
    background-color: #475993;
}
.background-color-white{
    background-color: #FFFFFF;
}
.background-color-grey-light{
    background-color: #F2F2F2;
}
.background-color-yellow{
    background-color: #FEE2654D;
}
/* -- CLASES TIPO PADDING -- */
.padding-left-80px{
    padding-left: 80px;
}
.paddin-right-80px{
    padding-right: 80px;
}
.padding-right-20px{
    padding-right: 20px;
}
.padding-left-20px{
    padding-left: 20px;
}
.paddin-10px-20px{
    padding: 10px 20px;
}
.padding-20px-30px{
    padding: 20px 30px;
}
.padding-20px{
    padding: 20px;
}

/* -- POSITIONS -- */
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.z-index-1{
    z-index: 1;
}
.top-0{
    top: 0;
}
.bottom-0{
    bottom: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}


/* -- WIDTH -- */
.max-width-1000px{
    max-width: 1000px;
}
.width-520px{
    width: 520px;
}
.max-width-400px{
    max-width: 400px;
}
.max-width-300px{
    max-width: 300px;
}
.width-100-percent{
    width: 100%;
}
.width-100px{
    width: 100px;
}
.width-35px{
    width: 35px;
}
.width-25px{
    width: 25px;
}
/* -- HEIGHT -- */
.height-35px{
    height: 35px;
}
.height-300px{
    height: 300px;
}
/* -- CLASES TIPO FONT FAMILY -- */
.font-size-14px{
    font-size: 14px;
}
.font-size-25px{
    font-size: 25px;
}
.font-family-sfProDisplay{
    font-family: 'SF Pro Display', sans-serif;
}
/* -- TEXT STYLES --*/
.list-style-none{
    list-style: none;
}
.text-align-center{
    text-align: center;
}
.text-align-start{
    text-align: start;
}
.underline-none{
    text-decoration: none;
}
.font-weight-bold{
    font-weight: bold;
}
/* -- BORDERS -- */
.border-radius-4px{
    border-radius: 4px;
}
.border-radius-6px{
    border-radius: 6px;
}
.border-radius-15px{
    border-radius: 15px;
}
.border-1px-solid-lightGray{
    border: 1px solid lightgray;
}
.border-none{
    border: none;
}
